<plugin name='ncs-recruitment' version='0.2' grailsVersion='1.3.5 &gt; *'>
  <author>Aaron J. Zirbes</author>
  <authorEmail>ajz@umn.edu</authorEmail>
  <title>NCS Hi/Lo Recruitment Domain Classes</title>
  <description>\
Domain classes necessary for recruitment in Hi/Lo centers
</description>
  <documentation>http://grails.org/plugin/ncs-recruitment</documentation>
  <resources>
    <resource>edu.umn.ncs.DwellingSegment</resource>
    <resource>edu.umn.ncs.IntensityGroup</resource>
    <resource>edu.umn.ncs.MailingSchedule</resource>
    <resource>edu.umn.ncs.RecruitmentGroup</resource>
    <resource>edu.umn.ncs.RecruitmentSegment</resource>
    <resource>edu.umn.ncs.RecruitmentSegmentGroup</resource>
  </resources>
  <dependencies>
    <plugin name='ncsTracking' version='0.3 &gt; *' />
    <plugin name='ncsPeople' version='0.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>